# dependencies
node_modules

# next.js
.next
out

# production
build

# env
.env
.env.local
.env.*.local

# supabase dotenvx
.env.keys

# local AI tool files
.claude/
.cursor/

# macOS
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*storybook.log
storybook-static

# Next.js generated type entry
next-env.d.ts
tsconfig.tsbuildinfo
